<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:fragment="page">
<head>
    <title>Dịch vụ gia công gạch men tốt gia rẻ tốt nhất thành phố Hồ Chí Minh</title>
    <meta address="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta address="keywords" content="Mattress Responsive web template, Bootstrap Web Templates, Flat Web Templates, Android Compatible web template,
		Smartphone Compatible web template, free webdesigns for Nokia, Samsung, LG, SonyErricsson, Motorola web design"/>
</head>
<body>

<div class="header" th:replace="fragments/_header"></div>
<div th:include="this :: content"></div>
<div id="footer" class="footer" th:replace="fragments/_footer"></div>

</body>
</html>