<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <div class="banner-bottom" th:fragment="banner-bottom">
        <div class="container">
            <div class="banner-bottom-grids">
                <div class="banner-bottom-grid-left animated wow slideInLeft" data-wow-delay=".5s">
                    <div class="grid">
                        <figure class="effect-julia">
                            <img src="https://s3.amazonaws.com/dinhtrung-catgachgiare-images/cat-len-bo-dau.jpg" alt=" "
                                 class="img-responsive"/>
                            <figcaption>
                                <h3><span>Gia công</span><i> cắt len - bo đầu</i></h3>
                                <div>
                                    <p>Giá rẻ nhất tp HCM</p>
                                    <p>Miển phí vận chuyển</p>
                                    <p>Đảm bảo đúng hẹn</p>
                                </div>
                            </figcaption>
                        </figure>
                    </div>
                </div>
                <div class="banner-bottom-grid-left1 animated wow slideInUp" data-wow-delay=".5s">
                    <div class="banner-bottom-grid-left-grid left1-grid grid-left-grid1">
                        <div class="banner-bottom-grid-left-grid1">
                            <img src="https://s3.amazonaws.com/dinhtrung-catgachgiare-images/mai-bong.jpg" alt=" "
                                 class="img-responsive"/>
                        </div>
                        <div class="banner-bottom-grid-left1-pos">
                            <p>Cắt bo mài bóng</p>
                        </div>
                    </div>
                    <div class="banner-bottom-grid-left-grid left1-grid grid-left-grid1">
                        <div class="banner-bottom-grid-left-grid1">
                            <img src="https://s3.amazonaws.com/dinhtrung-catgachgiare-images/xu-ly-canh.jpg" alt=" "
                                 class="img-responsive"/>
                        </div>
                        <div class="banner-bottom-grid-left1-position">
                            <div class="banner-bottom-grid-left1-pos1">
                                <p>Xử lý cạnh</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="banner-bottom-grid-right animated wow slideInRight" data-wow-delay=".5s">
                    <div class="banner-bottom-grid-left-grid grid-left-grid1">
                        <div class="banner-bottom-grid-left-grid1">
                            <img src="https://s3.amazonaws.com/dinhtrung-catgachgiare-images/ke-chi-nghe-thuat-new.jpg"
                                 alt=" " class="img-responsive"/>
                        </div>
                        <div class="grid-left-grid1-pos">
                            <p>Kẻ chỉ nghệ thuật</p>
                        </div>
                    </div>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
    </div>
</body>
</html>