<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

    <div  id="footer" class="footer" th:fragment="footer">
        <div class="container">
            <div class="footer-grids">
                <div class="col-md-12" style="text-align: center;">
                    <h4 style="color: #fff; font-weight: 600;">GIA CÔNG GẠCH MEN NHẤT TRUNG</h4>
                    <address style="color: #B0B2B5;">111TL 15, Khu phố 3C, phường Thành Lộc quận 12, thành phố Hồ Chí
                        Minh<br>Phone: 0969 333 507 - (08) 6681 8044
                    </address>
                </div>

                <div class="clearfix"></div>
            </div>

            <div class="copy-right">
                <p>&copy 2016 Best Store. All rights reserved | Design by <a href="http://w3layouts.com/">W3layouts</a></p>
            </div>
        </div>
    </div>
</body>
</html>